<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between
            ">
                
                <div class="header_row">
                    <div class="header_logo">MOMSEEK</div>
                    <div class="lahguage">
                        <a href="">Українська</a>
                    </div>
                    <div class="cta">
                        <button>Розмістити оголошення</button>
                        <button>Знайти роботу</button>
                    </div>
                    <div class="login">Увійти</div>
                </div>
            </div>
        </div>
    </div>
</header>